# 忽略 PyCharm 配置文件
.idea/

# 忽略 Python 编译文件
__pycache__/
*.py[cod]

# 忽略虚拟环境
venv/
srt_env/

# 忽略日志文件
*.log

# 忽略 Jupyter Notebook 检查点
.ipynb_checkpoints/

# 忽略大部分操作系统和 IDE 生成的文件
.DS_Store
Thumbs.db
app_logo.icns
base.pt
app_logo.icns
small.pt
app_logo.icns
flagged/log.csv
